mat-card img{
    max-width: 180px;
}

.tablecard{
    min-width: 100px;
    max-width: 160px;
    min-height: 200px;
    max-height: 200px;
}

.cardIcon{
    color: coral;
}

.line{
    width: 120px;
    height: 0px;
    border-bottom: 1px solid palevioletred;
    position: absolute;
    left: 18px;
    }