.example-form-field {
    padding-top: 0rem;
    width: 186px;
    height: 56px;
}

mat-icon {
    color: rgb(0, 140, 255);
}

mat-card {
    width: 210px;
    height: 56px;
    background-color: #ffffff;
    text-align: left;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.searchContent {
    position: absolute;
    top: 0px;
    left: 10px;
}

.searchButton{
    margin-left: 0px;
    height: 20px;
    width: 20px;
    background-color: rgba(85, 85, 85, 0.13);
}

.formClass{
    margin-left: 2px;
}