<div class="insideTabContainer">
    <mat-card>
    <mat-grid-list cols="7" rowHeight="108px">
        <!--<mat-grid-tile colspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
            <mat-card><h6>Monday 25th Oct</h6></mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>-->
        
        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">free_breakfast</mat-icon>&nbsp;<div class="heading">Breakfast</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">light_mode</mat-icon>&nbsp;<div class="heading">Morning Activity</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        
        
        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">lunch_dining</mat-icon>&nbsp;<div class="heading">Lunch</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">celebration</mat-icon>&nbsp;<div class="heading">Afternoon</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">dinner_dining</mat-icon>&nbsp;<div class="heading">Dinner</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-card class="headingCard"><mat-icon class="icons" inline="true">airline_seat_individual_suite</mat-icon>&nbsp;<div class="heading">Where to stay</div></mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_back_ios</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <app-plannercard></app-plannercard>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <mat-icon>arrow_forward_ios</mat-icon>
        </mat-grid-tile>
        
        

    </mat-grid-list>
    </mat-card>
    </div>