<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{JSONData.name}}</mat-card-title>
      <mat-card-subtitle><div class="card-category">{{JSONData.type}}</div></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{JSONData.imgurl}}" alt="Photo of a test">
    <mat-card-content>
      <p>
        {{JSONData.name}} is located in {{JSONData.locale}}, it's a {{JSONData.type}} in the {{JSONData.pricing}} price bracket. Availiblity is {{JSONData.availibility}}.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="onViewDetails()" mat-button>View Details</button>
      <button mat-raised-button color="accent">Book Now</button>
    </mat-card-actions>
  </mat-card>
