.example-card {
    max-width: 300px;
    min-width: 300px;
    min-height: 500px;
    max-height: 500px;
  }
  
.example-header-image {
  background-image: url('https://images.pexels.com/photos/3044/restaurant-love-romantic-dinner.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.card-category {
  text-transform: capitalize;

}


mat-card img {
  object-fit: cover;
  height: 160px;
  padding-top: 4px;
}