<mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h6>{{JSONData.name}}</h6></mat-card-title>
      <mat-card-subtitle><div class="card-category">{{JSONData.locale}}</div></mat-card-subtitle>
    </mat-card-header>

    <div class="cardimg">
      <img mat-card-image src="{{JSONData.imgurl}}" alt="Photo of a test">
    </div>

    <mat-card-content>
      <p>
        {{JSONData.desc}}<br>
      </p>
    </mat-card-content>
    <div class="actions">
      <mat-card-actions>
        <div class="line"></div>
        <button type="button" (click)="onViewDetails()" mat-button>View Details</button>
        <button mat-raised-button color="accent">Book Now</button>
      </mat-card-actions>
    </div>
  </mat-card>