.example-card {
  max-width: 300px;
  min-width: 300px;
  min-height: 440px;
  max-height: 460px;
}

.example-header-image {
  background-image: url('https://images.pexels.com/photos/3044/restaurant-love-romantic-dinner.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.card-category {
  text-transform: capitalize;

}

mat-card img {
  object-fit: cover;
  height: 160px;
  padding-top: 4px;
}

.actions {
  position: absolute;
  bottom: 6px;
  align-items: center;
}

.line{
  width: 250px;
  height: 0px;
  border-bottom: 1px solid palevioletred;
  position: absolute;
  top: -6px;
  left: 8px;
}