.categories-card {
  min-width: 180px;
  max-height: 240px;
  min-height: 240px;

}
.categories-footer {
    display: flex;
    justify-content: center;
  }

.categories-button {
    max-width: 200px;
    display: flex;
    justify-content: center;
  }

mat-card-content {
  text-transform: capitalize;
}

mat-card img {
  object-fit: top;
  height: 160px;
  padding-top: 4px;
}