.categories-card {
  min-width: 180px;
  max-height: 230px;
  min-height: 230px;

}
.categories-content {
    display: flex;
    justify-content: center;
  }

.categories-button {
    display: flex;
    justify-content: center;
  }

mat-card-content {
  text-transform: capitalize;
}

mat-card img {
  object-fit: top;
  height: 160px;
  padding-top: 4px;
}
