.categories-card {
  min-width: 180px;
  max-height: 230px;
  min-height: 230px;

}
.categories-content {
    display: flex;
    justify-content: center;
  }

.categories-button {
    display: flex;
    justify-content: center;
  }


  mat-card img {
    object-fit: cover;
    height: 160px;
    width: 280px;
    padding-top: 0;
  }