<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Gateway Cafe 1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Cotswold Distillery 1.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Cotswold Wildlife Park 2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
</ngb-carousel>

<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search With Filters here
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
      <mat-grid-list cols=6 rowHeight=50px>
        <mat-grid-tile>
          <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1"
                min="1"
                max="50">
        </mat-slider>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">£0-£60</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">£60-£80!</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">Health & Fitness</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">Beauty & Spa</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">Automotive</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">Retail</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-slide-toggle>Caters for visual difficulties</mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-slide-toggle>Caters for hearing or speaking difficulties</mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile>
          <input matInput type="text">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">£80-£100</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">£100-£120</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">Personal Services</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">Things to do</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox class="example-margin">Food & Drink</mat-checkbox>&nbsp;
          <mat-checkbox class="example-margin">Sale</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-slide-toggle>Disability Friendly</mat-slide-toggle>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-expansion-panel>


<br>

<mat-grid-list cols="1" rowHeight="50px">
  <mat-grid-tile colspan="1"><h2>Categories</h2></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="300px" gutterSize="1px">
  <mat-grid-tile colspan="1" *ngFor="let venue of categories"><app-categories [venueData]="venue"></app-categories></mat-grid-tile>
</mat-grid-list>

<br>

<mat-grid-list cols="1" rowHeight="50px">
  <mat-grid-tile colspan="1"><h2>Limited Spaces Remaining</h2></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="450px" gutterSize="1px">
  <mat-grid-tile colspan="1" *ngFor="let venue of venues"><app-card [venueData]="venue"></app-card></mat-grid-tile>
</mat-grid-list>