
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Gateway Cafe 1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Cotswold Distillery 1.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/Cotswold Wildlife Park 2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <app-search></app-search>
    </div>
  </ng-template>
</ngb-carousel>

<br>

<mat-grid-list cols="1" rowHeight="50px">
  <mat-grid-tile colspan="1"><h2>Limited Spaces Remaining</h2></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="450px" gutterSize="1px">
  <mat-grid-tile colspan="1" *ngFor="let venue of venues"><app-card [venueData]="venue"></app-card></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="450px" gutterSize="1px">
  <mat-grid-tile colspan="1" *ngFor="let venue of venues"><app-categories [venueData]="venue"></app-categories></mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile colspan="1"><app-categories></app-categories></mat-grid-tile>
  <mat-grid-tile colspan="1"><app-categories></app-categories></mat-grid-tile>
  <mat-grid-tile colspan="1"><app-categories></app-categories></mat-grid-tile>
  <mat-grid-tile colspan="1"><app-categories></app-categories></mat-grid-tile>
  <mat-grid-tile colspan="1"><app-categories></app-categories></mat-grid-tile>
</mat-grid-list>
