
<div id="parent">
  

  <div class="carouselClass">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/Gateway Cafe 1.jpg" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/Cotswold Distillery 1.jpg" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/Cotswold Wildlife Park 2.jpg" alt="Random third slide">
      </div>
    </ng-template>
  </ngb-carousel>
  </div>

  <div class="searchClass">
    <app-search></app-search>
  </div>

</div>

<div class="filtercontainer">
  <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6>Search With Filters here!</h6>
        </mat-panel-title>
        <mat-panel-description>
          Filter drawer {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
        
      <mat-grid-list cols="8" rowHeight="40px">

        <mat-grid-tile colspan="2">
          <h6>Location</h6>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <h6>Price Range</h6>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <h6>Features</h6>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <h6>Special Requirements</h6>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <input matInput type="text">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-checkbox>£0-£60</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox>£60-£80</mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <mat-checkbox>Information</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-checkbox>Hotels & Travel</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-checkbox>Things to do</mat-checkbox>
        </mat-grid-tile>
        

        <mat-grid-tile colspan="1">
          <mat-slide-toggle>&nbsp;<mat-icon>accessible_forward</mat-icon></mat-slide-toggle>
          <mat-slide-toggle>&nbsp;<mat-icon>disabled_visible</mat-icon></mat-slide-toggle>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1"
                min="1"
                max="50">
        </mat-slider>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-checkbox>£80-£100</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox>£100-£120</mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <mat-checkbox>Food & Drink</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-checkbox>Cinema & Theatre</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-checkbox>Retail</mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-slide-toggle>&nbsp;<mat-icon>hearing_disabled</mat-icon></mat-slide-toggle>
        </mat-grid-tile>

      </mat-grid-list>


    </mat-expansion-panel>
  </div>


<div class="cardsSection">
  <br>

  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile colspan="1"><h2>Categories</h2></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="300px" gutterSize="1px">
    <mat-grid-tile colspan="1" *ngFor="let venue of categories"><app-categories [venueData]="venue"></app-categories></mat-grid-tile>
  </mat-grid-list>

  <br>

  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile colspan="1"><h2>Limited Spaces Remaining</h2></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="520px" gutterSize="1px">
    <mat-grid-tile colspan="1" *ngFor="let venue of venues"><app-card [venueData]="venue"></app-card></mat-grid-tile>
  </mat-grid-list>
</div>

<pre>
  JSON test

  {{ json | json }}
</pre>