mat-form-field {
    width: 100%
  }

  mat-slider {
    width: 280px;
  }

.picsum-img-wrapper img {
    width: 100%;
    object-fit: cover;
    height: 450px;
    object-position: 50% bottom;
}

.filtercontainer{
  padding: 20px;
  position: relative;
  top: -60px;
}

#parent{
  position: relative;
}

.searchClass{
  position: relative;
  top: -140px;
}

.cardsSection{
  position: relative;
  top: -80px;
}