
.topCard{
  max-height: 60px;
  align-items: center;
}

.cardContainer{
    padding: 20px 0 0 0;
}

mat-slider {
  width: 300px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
  width: 80%;
}

table {
  width: 100%;
}

.tableContainer{
  padding: 10px;
}

.tableCard{
  padding: 10px;
}

.optionRowContainer{
  padding: 0 0 10px 0;
}


.dayTile{

}

.dayCards{
  max-height: 20px;
  min-width: 100px;
  background: #4054b4;
  color: white;
}

.dayText {
  color: aliceblue;
}

.tilediv{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}


.chipContainer{
  padding: 0 50px 10px 50px;
  
}

.chipButton{
  position: absolute;
  right: -11px;
  color: aliceblue;
  background: #4054b4;
}

.chipCard{
  max-height: 42px;
  background: palevioletred;
}

.chipCardContent{
  position: relative;
  bottom: 11px;
}

.tableDate{
  text-align: center;
  padding: 10px;
}

.breakfastRow{
  padding-top: 10px;
}

.morningRow{
  padding-top: 10px;
}