.borderCard {
    margin: 10px;
}
.titleDiv {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
.titleCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgb(63, 63, 63);
    margin: 4px;
}
.titleIcon {
    color: #4054b4;
    margin-right: 10px;
    padding-bottom: 4px;
}
.info {
    display: flex;
    justify-content: center;
    margin: 2px;
}
.newContainer{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.anotherCaontainer {
}

.innerCardTitle {
    display: grid;
    justify-content: center;
}

.cardHeading {
    display: flex;
}

.testCard{
    min-height: 200px;
}

.mainContainer{
    display: flex;
    padding: 10px;
}

.maincard{
    padding: 8px;
    min-height: 0px;
}

.maingrid {
    margin: 0px;
}

.adultSelect{
    max-width: 120px;
}

.childrenSelect{
    max-width: 120px;
}

.preMadePlansGrid {
    max-width: 300px;
}

.activityTypes {
    max-width: 500px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;

}

.mainCard {
    padding: 10px;
}

.innerTileGrid {
    width: 100%;
}

.mainContainer2 {
    padding: 20px 20px 20px 20px;
}

.titleCard {
    border-radius: 0px;

}


::ng-deep .mat-tab-header {
    display: none!important;
}

.innerTab {
    width: 1000px;
}