
<div class="mainContainer2">
  <mat-card class="mainCard">
    <mat-grid-list cols="7" rowHeight="84px">

      <mat-grid-tile colspan="7">
        <mat-card class="titleCard"><mat-icon class="titleIcon">edit_calendar</mat-icon><h6>Activity Planner</h6></mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="4">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="onBackTabButton()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="3" rowspan="4">
        <mat-tab-group [selectedIndex]="selectedTab.value">
          <mat-tab class="cardTab">
            <div class="innerTab">
              <app-activity-planner3></app-activity-planner3>
            </div>
          </mat-tab>

          <mat-tab class="cardTab">
            <div class="innerTab">
              <app-activity-planner3-page2></app-activity-planner3-page2>
            </div>
          </mat-tab>

          <mat-tab class="cardTab">
            <div class="innerTab">
              <app-timeline-test></app-timeline-test>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="4">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="onNextTabButton()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    
  </mat-card>
</div>