<div class="mainContainer">
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile colspan="2" rowspan="1">
            <div style="height: 100%; width: 100%;">
                <mat-grid-list cols="2" rowHeight="30px" gutterSize="10px">
                    <mat-grid-tile colspan="2">
                        <div class="text">
                            Sorry we couldn't find what you were looking for. <mat-icon>mood_bad</mat-icon>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        Try seraching for something else, or you could take a look through our suggestions below.
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">
            <app-search></app-search>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 1
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 2
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 3
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 4
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 5
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            Test Tile 6
        </mat-grid-tile>
    </mat-grid-list>
</div>