
.mainContainer {
    padding: 10px;
    position: relative;
    min-width: 600px;
    max-width: 600px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    padding-top: 2px;
}

.mainCard {
    min-height: 262px;
}

.example-margin {
    padding-top: 10px;
}
