.example-form-field {
    padding-top: 0rem;
    width: 400px;
    height: 100px;
  }

   mat-card {
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    height: 56px;
    background-color: #fafafa;
    text-align: center;
    border-radius: 50px;
  }

  .searchContent {
    position: absolute;
    top: 0px;
    left: 20px;
  }
