.example-form-field {
    padding-top: 0rem;
    width: 400px;
    height: 100px;
  }

   mat-card {
    margin-left: auto;
    margin-right: auto;
    width: 510px;
    height: 70px;
    background-color: #fafafa;
    vertical-align: top;
    border-radius: 25px;
  }

