
<mat-card class="mat-elevation-z8">

  <div class='searchContent'>

    <form [formGroup]="formGroup">
      <mat-form-field class="example-form-field">
        <mat-label>
          Search Here
        </mat-label>
        <input formControlName="venue" matInput type="text" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" (click)="onViewDetails()" [value]="item">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <a mat-icon-button color="link" (click)="onSearch()"><mat-icon>search</mat-icon></a>
    </form>

    

  </div>

</mat-card>