<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" opened="true" mode="side">

        <mat-form-field class="example-form-field">
            <mat-label>Enter Your Location</mat-label>
            <input matInput type="text">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <a mat-raised-button><mat-icon>location_on</mat-icon></a>
        <br>
        <br>
        <h5>Distance (miles)</h5>
        &nbsp;<mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1"
                min="1"
                max="50">
        </mat-slider>
        <br>
        <br>
        <h5>Price</h5>
        &nbsp;<mat-checkbox value="1">£0 - £60</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">£60 - £80</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">£80 - £100</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">£100 - £120</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">£120 +</mat-checkbox>
    
        <br>
        <br>

        <h5>Select features</h5>
        &nbsp;<mat-checkbox value="1">Health & Fitness</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Beauty & Spa</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Personal Services</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Things to do</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Food & Drink</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Retail</mat-checkbox><br>
        &nbsp;<mat-checkbox value="1">Sale</mat-checkbox><br>
        
        <h5>Special Requirements</h5>
        <mat-slide-toggle>&nbsp;<mat-icon>accessible_forward</mat-icon></mat-slide-toggle>
        <br>
        <br>
        <mat-slide-toggle>&nbsp;<mat-icon>disabled_visible</mat-icon></mat-slide-toggle>
        <br>
        <br>
        <mat-slide-toggle>&nbsp;<mat-icon>hearing_disabled</mat-icon></mat-slide-toggle>
        <br>
    </mat-drawer>

    <mat-grid-list cols="1" rowHeight="700px">

        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <mat-grid-list cols="3" rowHeight="520px" gutterSize="1px">
            <mat-grid-tile colspan="1" *ngFor="let venue of venues"><app-card [venueData]="venue"></app-card></mat-grid-tile>
        </mat-grid-list>

    </mat-grid-list>

  </mat-drawer-container>
