<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile colspan="1"><img src="Downloads\pexels-samuel-sweet-6135766(2).jpg"></mat-grid-tile>
    <mat-grid-tile colspan="1">
        <app-venuesummarycard></app-venuesummarycard>
    </mat-grid-tile>
    <mat-grid-tile colspan="1"><app-venuesummarycard></app-venuesummarycard></mat-grid-tile>
    <mat-grid-tile colspan="1"><app-venuesummarycard></app-venuesummarycard></mat-grid-tile>
    <mat-grid-tile colspan="1"><app-venuesummarycard></app-venuesummarycard></mat-grid-tile>
  </mat-grid-list>
  